.sample {
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

.sample__question {
  color: $font-color-black;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sample__answer {
  color: $font-color-grey;
}
