<div class="menu">
  <div class="menu-item">
    <app-reference></app-reference>
  </div>
  <div class="menu-item">
    <app-settings></app-settings>
  </div>
  <div class="menu-item">
    <mat-action-list>
      <button class="settings-button" mat-raised-button>Формировать ИНС</button>
      <button class="settings-button" mat-raised-button>Обучить ИНС</button>
      <button class="settings-button" mat-raised-button>Тестировать ИНС</button>
      <button class="settings-button" mat-raised-button>Завершить работу</button>
    </mat-action-list>
  </div>
</div>