.header {
  display: flex;

  background-color: $main-black;
  color: $font-color-white;
  padding: 1em;
  line-height: 1em;
  font-size: 12pt;

  box-shadow: 0 0 10px black;
}

.header__item {
  margin-right: 1em;
}

.header__item_last {
  margin-left: auto;
  margin-right: 0;
}
