<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Добро пожаловать на проект {{ title }}!</span>
</mat-toolbar>

<!--<mat-grid-list cols="4" rowHeight="100px">-->
  <!--<mat-grid-tile-->
    <!--*ngFor="let tile of tiles"-->
    <!--[colspan]="tile.cols"-->
    <!--[rowspan]="tile.rows"-->
    <!--[style.background]="tile.color">-->
    <!--{{tile.text}}-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<app-samples></app-samples>-->

<mat-grid-list cols="4" rowHeight="23vh">
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <app-samples></app-samples>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="3" style="background-color: lightpink">
    content
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" style="background-color: #DDBDF1">
    help
  </mat-grid-tile>

</mat-grid-list>

<router-outlet></router-outlet>
